
<link href="~/css/CustomerStyleSheet.css" rel="stylesheet" />

@{
    ViewData["Title"] = "DisplayCustomer";
}
@model Lab18_CoffeeShop.Models.Customer
<h1>DisplayStudent</h1>

<p>Welmcom @Model.FirstName! Thank you for submitting your registration. Why don't you introduce @Model.PetsName to the staff sometime and have a @Model.FavDrink!!</p>


