<link href="~/css/CustomerStyleSheet.css" rel="stylesheet" />


@{
    ViewData["Title"] = "Home Page";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="AddCustomer">Register Here!</a>
<h1 class="textBox">December 1st is coming, will you be ready?</h1>

